<table class="table table-responsive">
    <thead>
        <tr>
            <th>Description</th>
            <th>Priority</th>
            <th>Opened Date</th>
            <th>Closed Date</th>
 
        </tr>
    </thead>
    <tbody>
        <tr ng-repeat="workorder in workorders">
            <td>{{workorder.Description}}</td>
            <td>{{workorder.Priority}}</td>
            <td>{{workorder.OpenedDate}}</td>
            <td>{{workorder.ClosedDate}}</td>
       
            <td>
                <a class="btn btn-info" ng-href="#/workOrder/detail/{{workorder.WorkOrderId}}">
                    Edit
                </a>
                <a class="btn btn-danger" ng-click="removeWorkOrder(workorder)">
                    Delete
                </a>
            </td>
        </tr>
    </tbody>
</table>