<h1 style="color: white;" class="text-center">Property Manager</h1>
<h1>
    <p style="text-align:center">
        <span class="glyphicon glyphicon-king fa-5x" style="color: white;"></span>
    </p>
</h1>
<style type="text/css">
    th {
        text-align: center;
    }

    td {
        text-align: center;
    }
</style>


<div class="row">

    <div class="col-sm-12">


        <table class="table active table-responsive">
           
            <thead class="thead-inverse">
                <tr>
                    <th colspan="1">
                        <i class="fa fa-tachometer"></i><font color="white">
                            Overview
                        </font>
                    </th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td><h2><p><span class="glyphicon glyphicon-queen"></span></p></h2>
                        <font color="white">Properties</font>
                        
                    </td>
                </tr>
                <tr>
                    <td><h2><p><span class="glyphicon glyphicon-pawn"></span></p></h2>
                        <font color="white">Tenants</font>
                        
                    </td>
                </tr>
                <tr>
                    <td><h2><p><span class="glyphicon glyphicon-bishop"></span></p></h2>
                        <font color="white">Leases</font>
                        
                    </td>
                </tr>
                <tr>
                    <td><h2><p><span class="glyphicon glyphicon-knight"></span></p></h2>
                        <font color="white">Work Orders</font>
                        
                    </td>
                </tr>               
            </tbody>
        </table>
    </div>
</div>